@import "../../custom.scss";
.listEntry {
  display: flex !important;
  max-width: 600px;
  padding: 0.4rem 1.25rem !important;
}

.listEntry:hover {
  background-color: $cato-black-hovered !important;
  color: white !important;
  transition: 0.5s;
  cursor: pointer !important;
  transition-timing-function: ease, ease;
}
.statusInList {
  margin-right: 15px;
}

.nameInList {
  margin-top: 2px;
}
.placeholderContainer {
  display: flex;
}

.placeholder {
  margin: auto;
}
