.suiteResult {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.resultImageImg {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.headline {
    margin-bottom: 35px;
}

.failedHeadline {
    color: red;
    font-weight: bolder;
}

.succededHeadline {
    color: green;
    font-weight: bolder;
}
.testResultImages{
	display: flex;
}
.resultSeperation{
	display: flex;
}
.terminalBackground{
    background-color: black;
    padding: 15px;
    font-size: 14px;
    color: white;
    font-family: 'Fira Mono', monospace;
}
.terminalRow{
    display: block;
}