<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="termynal.css">

    <title>Cato report</title>
</head>
<body>
<h1>Failed</h1>

<div>
    There were issues with 5 tests.
</div>

<div class="suiteResult">
    <h2>
        Suite Name
    </h2>
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
           aria-controls="collapseExample">
            collapse suite
        </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            show suite
        </button>
    </p>
    <div class="collapse show" id="collapseExample">
        <div class="testResult">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Suite</li>
                    <li class="breadcrumb-item active" aria-current="page">Test</li>
                </ol>
            </nav>
            <div class="testResultImages">
                <img src="149_200_01_v029.01360.jpg">
            </div>
            <div class="testResultMessage">
                Command exited with status 5
            </div>
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseLog" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    show log
                </a>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseLog"
                        aria-expanded="false" aria-controls="collapseExample">
                    hide log
                </button>
            </p>
            <div class="collapse" id="collapseLog">
                <div data-termynal >
                    <span data-ty>virtualenv venv</span>
                    <span data-ty>virtualenv venv</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="termynal.js" data-termynal-container="#termynal"></script>
</body>
</html>