<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="termynal.css">
    <link rel="stylesheet" href="cato.css">

    <title>Cato report</title>
</head>
<body>
{% if has_failed_tests %}
<div class="headline">
    <h1 class="failedHeadline">Failed</h1>
    There were issues with tests.
</div>
<h2 class="failedHeadline">Failed tests:</h2>
<div class="resultSeperation">
{% for suite_result in failed_tests %}
    {% set suffix = 'failed' %}
    {% include 'suite_result_template.html'%}

{% endfor %}
</div>

{% else %}
<h1>Success</h1>
{% endif %}
<h2 class="succededHeadline">Succeded tests:</h2>
<div class="resultSeperation">
{% for suite_result in result %}
    {% set suffix = 'success' %}
    {% include 'suite_result_template.html' %}

{% endfor %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="termynal.js" data-termynal-container="#termynal"></script>
</body>
</html>