[bumpversion]
current_version = 0.72.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]

[bumpversion:file:cato/__init__.py]

[bumpversion:file:cato_server/__init__.py]

[bumpversion:file:cato_api_client/__init__.py]
