.linkCard {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 307px;
  height: 132px;
  display: flex;
}
.linkCard:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
  transition-timing-function: ease, ease;
}

.cardContentDiv {
  margin: auto;
  font-size: 30px;
  font-weight: 500;
}
