.suiteAndTestContainer {
  width: 100%;
  display: flex;
  > :nth-child(1) {
    width: 50%;
    border-right: 5px solid #eceff1;
    min-height: 100vh;
    padding: 20px;
  }
  > :nth-child(2) {
    width: 50%;
    padding: 20px;
  }
}
.noTestSelected {
  display: flex;
  height: 100vh;
}
.centered {
  margin: auto;
}
