@import "../../../custom.scss";

.tabContent {
  margin-top: 30px;
}
.spinnerContainer {
  display: flex;
  margin-top: 40px;
}
.spinner {
  margin: auto;
}
.paginationControlsPositioner {
  width: 600px;
}
