@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&&display=swap");
@import "./custom.scss";

$theme-colors: (
  "primary": $cato-black,
  "danger": #ff4136,
);
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:visited {
  color: black;
  text-decoration: none;
}
