@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
@import "../../custom.scss";

.header {
  background-color: $cato-black;
  height: 60px;
  display: flex;
  align-content: flex-start;
}
.logo {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  margin: 11px 35px;
}
.logoCato {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
