@import "../../custom.scss";
.paginationControlContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.controls {
  display: flex;
  svg {
    font-size: 13px;
    margin-top: -2px;
  }
  span {
    user-select: none;
  }
  span:nth-child(1) {
    margin-right: 16px;
  }
  [data-disabled="true"] {
    color: grey;
  }
  [data-disabled="false"]:hover {
    color: $cato-highlight;
    cursor: pointer;
  }
  [data-disabled="false"] {
    color: #0f5b99;
  }
}
.elementsOnPage {
  margin-right: 10px;
}
.disabled {
  color: grey;
  &:hover {
    cursor: default;
  }
}
