.imgCompContainer {
  position: relative;
}

.imgCompImg {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.compareSlider{
  background-color: red;
  width: 2px;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  cursor: ew-resize;
  height: 100%
}
