.imgCompContainer {
  display: flex;
  margin: auto;
}

.imgCompContainer img {
  max-width: 100% !important;
}

.imgCompContainer div[style] {
}

.imageSizeCalculator {
  display: none;
}
.spinner {
  margin: auto;
}
