@import "../../custom.scss";

.runsViewContainer {
  display: flex;
  margin-left: 20px;
}

.runListContainer {
  width: 270px;
}

.runListEntry {
  width: 270px;
  display: flex !important;
}

.runListEntry:hover {
  background-color: $cato-black-hovered !important;
  color: white !important;
  transition: 0.5s;
  cursor: pointer !important;
  transition-timing-function: ease, ease;
}

.projectName {
  margin: 25px;
  height: 48px;
}
.suiteResult {
  margin-left: 60px;
  margin-right: 60px;
  width: 100%;
}
.runNumber {
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
  width: 110px;
}
.runTimingInformation {
  font-weight: lighter;
  width: 116px;
}
.suiteResultsPlaceholder {
  font-weight: lighter;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
img .list-group-item.active {
  display: none;
}
.errorIcon {
  color: red;
}
