.runsViewContainer {
  display: flex;
  margin-left: 20px;
}

.runListEntry {
  width: 300px;
}

.projectName {
  margin: 25px;
}
.suiteResult {
  margin-left: 60px;
  margin-right: 60px;
  flex-grow: 1;
}
