.runsViewContainer {
  display: flex;
  margin-left: 20px;
}

.runListEntry {
  width: 270px;
  display: flex !important;
}

.projectName {
  margin: 25px;
}
.suiteResult {
  margin-left: 60px;
  margin-right: 60px;
  flex-grow: 1;
}
.runNumber {
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
  width: 110px;
}
.runTimingInformation {
  font-weight: lighter;
  width: 116px;
}
.suiteResultsPlaceholder {
  font-weight: lighter;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
